
language: objective-c

before_install:

    - export LANG=en_US.UTF-8
    - env
    - locale
    - gem install cocoapods --quiet
    - pod --version
    - pod setup --silent
    - pod repo update --silent

script:

    - pod lib lint

    - xctool -project Lumberjack.xcodeproj -scheme 'CocoaLumberjack'
    - xctool -project Lumberjack.xcodeproj -scheme 'CocoaLumberjack-iOS' -configuration Release -sdk iphonesimulator -arch i386 build
    - xctool -project Lumberjack.xcodeproj -scheme 'FmwkTest'
    - xctool -project Lumberjack.xcodeproj -scheme 'iOSLibStaticTest' -configuration Release -sdk iphonesimulator -arch i386 build

    - pod install --project-directory=Tests
    - xctool -workspace Framework/Lumberjack.xcworkspace -scheme 'iOS Tests' -sdk iphonesimulator -arch i386 test
    - xctool -workspace Framework/Lumberjack.xcworkspace -scheme 'OS X Tests' test

    - cd Demos
    - pod install --project-directory=ContextFilter
    - xctool -workspace Demos.xcworkspace -scheme 'ContextFilter'

    - pod install --project-directory=CoreDataLogger
    - xctool -workspace Demos.xcworkspace -scheme 'CoreDataLogger'

    - pod install --project-directory=CustomFormatters
    - xctool -workspace Demos.xcworkspace -scheme 'CustomFormatters'

    - pod install --project-directory=CustomLogLevels
    - xctool -workspace Demos.xcworkspace -scheme 'CustomLogLevels'

    - pod install --project-directory=DispatchQueueLogger
    - xctool -workspace Demos.xcworkspace -scheme 'DispatchQueueLogger'

    - pod install --project-directory=FineGrainedLogging
    - xctool -workspace Demos.xcworkspace -scheme 'FineGrainedLogging'

    - pod install --project-directory=GlobalLogLevel
    - xctool -workspace Demos.xcworkspace -scheme 'GlobalLogLevel'

    - pod install --project-directory=LogFileCompressor
    - xctool -workspace Demos.xcworkspace -scheme 'LogFileCompressor'

    - pod install --project-directory=NonArcTest
    - xctool -workspace Demos.xcworkspace -scheme 'NonArcTest'

    - pod install --project-directory=OverflowTestMac
    - xctool -workspace Demos.xcworkspace -scheme 'OverflowTestMac'

    - pod install --project-directory=PerUserLogLevels
    - xctool -workspace Demos.xcworkspace -scheme 'PerUserLogLevels'

    - pod install --project-directory=RegisteredDynamicLogging/Mobile
    - xctool -workspace Demos.xcworkspace -scheme 'RegisteredLoggingTest (Mobile)' -configuration Release -sdk iphonesimulator -arch i386 build

    - pod install --project-directory=RegisteredDynamicLogging/Desktop
    - xctool -workspace Demos.xcworkspace -scheme 'RegisteredLoggingTest (Desktop)'

    - pod install --project-directory=RollingTestMac
    - xctool -workspace Demos.xcworkspace -scheme 'RollingTestMac'

    - pod install --project-directory=TestXcodeColors/Desktop
    - xctool -workspace Demos.xcworkspace -scheme 'TestXcodeColors (Desktop)'

    - pod install --project-directory=TestXcodeColors/Mobile
    - xctool -workspace Demos.xcworkspace -scheme 'TextXcodeColors (Mobile)' -configuration Release -sdk iphonesimulator -arch i386 build

    - pod install --project-directory=WebServerIPhone
    - xctool -workspace Demos.xcworkspace  -scheme 'WebServerIPhone' -configuration Release -sdk iphonesimulator -arch i386 build

    - pod install --project-directory=Benchmark/Desktop
    - xctool -workspace Demos.xcworkspace -scheme 'BenchmarkMac'

    - pod install --project-directory=Benchmark/Mobile
    - xctool -workspace Demos.xcworkspace -scheme 'BenchmarkIPhone' -configuration Release -sdk iphonesimulator -arch i386 build

    - pod install --project-directory=SQLiteLogger
    - xctool -workspace Demos.xcworkspace -scheme 'SQLiteLogger'

    - pod install --project-directory=UniversalApp
    - xctool -workspace Demos.xcworkspace -scheme 'UniversalApp' -configuration Release -sdk iphonesimulator -arch i386 build

    - pod install --project-directory=CLI
    - xctool -workspace Demos.xcworkspace -scheme 'CLI'

    - pod install --project-directory=CaptureASL
    - xctool -workspace Demos.xcworkspace -scheme 'CaptureASL' -configuration Release -sdk iphonesimulator -arch i386 build
