
language: objective-c

before_install:

    - export LANG=en_US.UTF-8
    - env
    - locale
    - gem install cocoapods --quiet
    - pod --version
    - pod setup --silent
    - pod repo update --silent

script:

    - pod lib lint

    - xctool -project Framework/Desktop/Lumberjack.xcodeproj -scheme 'FmwkTest'
    - xctool -project Framework/Mobile/Lumberjack.xcodeproj -scheme 'LibTest' -configuration Release -sdk iphonesimulator -arch i386 build
    - xctool -project Framework/Desktop/Lumberjack.xcodeproj -scheme 'CocoaLumberjack'
#comment    - xctool -project Framework/Desktop/Lumberjack.xcodeproj -scheme 'CocoaLumberjack' -configuration Release -sdk iphonesimulator -arch i386 build

    - cd Demos/ContextFilter
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'ContextFilter'

    - cd CoreDataLogger
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'CoreDataLogger'

    - cd CustomFormatters
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'CustomFormatters'

    - cd CustomLogLevels
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'CustomLogLevels'

    - cd DispatchQueueLogger
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'DispatchQueueLogger'

    - cd FineGrainedLogging
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'FineGrainedLogging'

    - cd GlobalLogLevel
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'GlobalLogLevel'

    - cd LogFileCompressor
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'LogFileCompressor'

    - cd NonArcTest
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'NonArcTest'

    - cd OverflowTestMac
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'OverflowTestMac'

    - cd PerUserLogLevels
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'PerUserLogLevels'

    - cd RegisteredDynamicLogging/Mobile
    - pod install
    - cd ../..
    - xctool -workspace Demos.xcworkspace -scheme 'RegisteredLoggingTest (Mobile)' -configuration Release -sdk iphonesimulator -arch i386 build

    - cd RegisteredDynamicLogging/Desktop
    - pod install
    - cd ../..
    - xctool -workspace Demos.xcworkspace -scheme 'RegisteredLoggingTest (Desktop)'

    - cd RollingTestMac
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'RollingTestMac'

    - cd TestXcodeColors/Desktop
    - pod install
    - cd ../..
    - xctool -workspace Demos.xcworkspace -scheme 'TestXcodeColors (Desktop)'

    - cd TestXcodeColors/Mobile
    - pod install
    - cd ../..
    - xctool -workspace Demos.xcworkspace -scheme 'TextXcodeColors (Mobile)' -configuration Release -sdk iphonesimulator -arch i386 build

    - cd WebServerIPhone
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace  -scheme 'WebServerIPhone' -configuration Release -sdk iphonesimulator -arch i386 build

    - cd Benchmark/Desktop
    - pod install
    - cd ../..
    - xctool -workspace Demos.xcworkspace -scheme 'BenchmarkMac'

    - cd Benchmark/Mobile
    - pod install
    - cd ../..
    - xctool -workspace Demos.xcworkspace -scheme 'BenchmarkIPhone' -configuration Release -sdk iphonesimulator -arch i386 build

    - cd SQLiteLogger
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'SQLiteLogger'

    - cd UniversalApp
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'UniversalApp' -configuration Release -sdk iphonesimulator -arch i386 build

    - cd CLI
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'CLI'

    - cd CaptureASL
    - pod install
    - cd ..
    - xctool -workspace Demos.xcworkspace -scheme 'CaptureASL' -configuration Release -sdk iphonesimulator -arch i386 build

