// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Code will load on this and later versions of watchOS. Framework APIs that are unavailable in earlier versions will be weak-linked; your code should check for null function pointers or specific system versions before calling newer APIs.
WATCHOS_DEPLOYMENT_TARGET = 5.0
