#include "Common.xcconfig"


// build options
VALIDATE_PRODUCT = YES


// deployment
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES


// code generation
GCC_OPTIMIZATION_LEVEL = 4
GCC_GENERATE_DEBUGGING_SYMBOLS = NO


// preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(COMMON_GCC_PREPROCESSOR_DEFINITIONS) NDEBUG
