#include "ARC-GC.xcconfig"


// build options
RUN_CLANG_STATIC_ANALYZER = YES


// packaging
PRODUCT_NAME = CocoaLumberjack
EXECUTABLE_EXTENSION = a
EXECUTABLE_PREFIX = lib
PUBLIC_HEADERS_FOLDER_PATH = /usr/local/include
PRIVATE_HEADERS_FOLDER_PATH = $(PUBLIC_HEADERS_FOLDER_PATH)


// preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DDLOG_LIBRARY_TARGET


// deployment
INSTALL_PATH = /usr/local/lib
MACOSX_DEPLOYMENT_TARGET = 10.6
STRIP_STYLE = debugging
SEPARATE_STRIP = YES
COPY_PHASE_STRIP = YES


// linking
MACH_O_TYPE = staticlib
GENERATE_MASTER_OBJECT_FILE = YES
OTHER_LDFLAGS = -ObjC
LD_GENERATE_MAP_FILE = YES
