name: CocoaPods Validation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  LC_CTYPE: en_US.UTF-8
  LANG: en_US.UTF-8

jobs:
  validate-cocoapods:
    runs-on: macos-14
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ^15.3
      - name: Download visionOS
        run: |
            sudo xcodebuild -runFirstLaunch
            sudo xcrun simctl list # needed to boot the simulator
            sudo xcodebuild -downloadPlatform visionOS
            sudo xcodebuild -runFirstLaunch
      - uses: actions/checkout@v4
      - name: Generate Podspec
        run: ./Scripts/generate-podspec.sh
      - name: Validate Pod
        run: pod lib lint
