name: Publish CocoaPods Release

on:
  release:
    types:
      - published

env:
  LC_CTYPE: en_US.UTF-8
  LANG: en_US.UTF-8

jobs:
  publish-podspec:
    runs-on: macos-15
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ^16.4
      - name: Install Platforms
        run: |
          xcrun simctl delete unavailable # Remove unavailable sims - also boots the simulator
          xcodebuild -downloadPlatform iOS
          xcodebuild -downloadPlatform tvOS
          xcodebuild -downloadPlatform visionOS
          xcodebuild -downloadPlatform watchOS
      - uses: actions/checkout@v6
      - name: Generate Podspec
        env:
          EXPECTED_VERSION: ${{ github.event.release.tag_name }}
        run: ./Scripts/generate-podspec.sh "${EXPECTED_VERSION}"
      - name: Publish Podspec
        run: pod trunk push CocoaLumberjack.podspec
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
