name: CocoaPods Trunk Session Keep-Alive

on:
  schedule:
    # every Wednesday at 09:23 UTC
    - cron: '23 09 * * 3'

jobs:
  session-keepalive:
    runs-on: macos-14
    steps:
      - name: Keep CocoaPods Trunk Session Alive
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: pod trunk me --silent
