name: Demo Builds

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  LC_CTYPE: en_US.UTF-8
  LANG: en_US.UTF-8

jobs:
  build-demos:
    runs-on: macos-15
    strategy:
      matrix:
        scheme:
          - BenchmarkIPhone
          - BenchmarkMac
          - CLI
          - CaptureASL
          - ContextFilter
          - CoreDataLogger
          - CustomFormatters
          - CustomLogLevels
          - DispatchQueueLogger
          - FineGrainedLogging
          - GlobalLogLevel
          - LogFileCompressor
          - NonArcTest
          - OverflowTestMac
          - PerUserLogLevels
          - RegisteredLoggingTest (Desktop)
          - RegisteredLoggingTest (Mobile)
          - RollingTestMac
          - SQLiteLogger
          - TestXcodeColors (Desktop)
          - TextXcodeColors (Mobile)
          - UniversalApp
          - WebServerIPhone
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ^16.4
      - name: Install Platform
        # This isn't necessarily an exhaustive list, but it saves some time in the obvious cases.
        if: ${{ matrix.scheme != 'BenchmarkMac' && matrix.scheme != 'RegisteredLoggingTest (Desktop)' && matrix.scheme != 'TestXcodeColors (Desktop)' && matrix.scheme != 'OverflowTestMac' && matrix.scheme != 'RollingTestMac' && matrix.scheme != 'CLI' }}
        run: |
          xcrun simctl delete unavailable # Remove unavailable sims - also boots the simulator
          xcodebuild -downloadPlatform iOS
      - uses: actions/checkout@v6
      - uses: sersoft-gmbh/xcodebuild-action@v4
        with:
          workspace: Demos/Demos.xcworkspace
          scheme: ${{ matrix.scheme }}
          configuration: Release
          action: build
