name: Integration Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  LC_CTYPE: en_US.UTF-8
  LANG: en_US.UTF-8

jobs:
  static-lib:
    runs-on: macos-15
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ^16.4
      - name: Install Platform
        run: |
          xcrun simctl delete unavailable # Remove unavailable sims - also boots the simulator
          xcodebuild -downloadPlatform iOS
      - uses: actions/checkout@v6
      - uses: sersoft-gmbh/xcodebuild-action@v4
        with:
          project: Integration/Integration.xcodeproj
          scheme: iOSStaticLibraryIntegration
          configuration: Release
          action: build

  dynamic-lib:
    runs-on: macos-15
    strategy:
      matrix:
        scheme:
          - macOSSwiftIntegration
          - iOSFrameworkIntegration
          - tvOSSwiftIntegration
          - watchOSSwiftIntegration
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ^16.4
      - name: Install Platform
        if: ${{ matrix.scheme != 'macOSSwiftIntegration' }}
        env:
          SCHEME: ${{ matrix.scheme }}
        run: |
          xcrun simctl delete unavailable # Remove unavailable sims - also boots the simulator
          case "${SCHEME}" in
            iOSFrameworkIntegration)
              xcodebuild -downloadPlatform iOS
              ;;
            tvOSSwiftIntegration)
              xcodebuild -downloadPlatform tvOS
              ;;
            watchOSSwiftIntegration)
              xcodebuild -downloadPlatform watchOS
              ;;
          esac
      - uses: actions/checkout@v6
      - uses: sersoft-gmbh/xcodebuild-action@v4
        with:
          project: Integration/Integration.xcodeproj
          scheme: ${{ matrix.scheme }}
          configuration: Release
          action: build
        # watchOS builds seems to fail as of Xcode 11.4...
        continue-on-error: ${{ matrix.scheme == 'watchOSSwiftIntegration' }}
