name: Integration Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  LC_CTYPE: en_US.UTF-8
  LANG: en_US.UTF-8

jobs:
  static-lib:
    runs-on: macos-14
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ^15.2
      - uses: actions/checkout@v4
      - uses: sersoft-gmbh/xcodebuild-action@v3
        with:
          project: Integration/Integration.xcodeproj
          scheme: iOSStaticLibraryIntegration
          configuration: Release
          action: build

  dynamic-lib:
    runs-on: macos-14
    strategy:
      matrix:
        scheme:
          - macOSSwiftIntegration
          - iOSFrameworkIntegration
          - tvOSSwiftIntegration
          - watchOSSwiftIntegration
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ^15.2
      - uses: actions/checkout@v4
      - uses: sersoft-gmbh/xcodebuild-action@v3
        with:
          project: Integration/Integration.xcodeproj
          scheme: ${{ matrix.scheme }}
          configuration: Release
          action: build
        # watchOS builds seems to fail as of Xcode 11.4...
        continue-on-error: ${{ matrix.scheme == 'watchOSSwiftIntegration' }}
